{% load static %}
<!DOCTYPE html>

<html>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
  <head>
    <!--Style-->
    <style>
        h1 {
          text-align: center;
          font-weight: bold;
          text-decoration:underline;
        }
        
        h2 {
          text-align: left;
        }
        
        h3 {
          text-align: right;
        }
    </style>
    <!--Links-->
    <form method="post" action="index">
      {% csrf_token %}
      <button type="submit">Back to main menu</button>

<!--Title-->
    </form></td>
    <table style="margin-left: auto; margin-right: auto;" border="0">
      <!-- Create rows -->
      <tr>
        <!-- Create cells in each row -->
        <td><h1 style="text-align: center;">Flash-Calc</h1></td>
        <td><img src="{% static 'images/flashcalc.jpeg' %}" alt="Flashcalc_logo" width="100" height="100"></td>
      </tr>
    </table>
    <hr>
        <h1>Tutorial</h1>
        
    </head>
    <body>
        <!--Index-->
        <h2>Índice</h2>
        <menu>
          <li>
            Elección del modelo, tabla de parámetros y cantidad de componentes del sistema
          </li>
          <li>
            Carga de grupos
          </li>
          <li>
            Temperatura, presión y composición del sistema
          </li>
        </menu>
        <h2>Elección del modelo, tabla de parámetros y cantidad de componentes del sistema</h2>         
        <p>
          Para comenzar con la carga de datos hay que definir el nombre del
          problema. Luego se debe seleccionar el modelo termodinámico 
          (UNIFAC o A-UNIFAC) y la tabla de parámetros. Es necesario guardar
          para continuar.
        </p>
        <p>           
          Indicar la cantidad de componentes del sistema. 
          Dar click en el botón para crear tabla para proceder a la carga de 
          grupos.
        </p> 
        <h2>Carga de grupos</h2>
        <p>
          Luego del paso anterior aparecerán la tabla. En esta se deberá indicar
          el tipo y la cantidad de grupos que conformen a cada componente. 
          Para seleccionar el tipo de grupo, posicionarse en la primer celda 
          con la palabra “[0] None”. Al hacerlo, permitirá desplegar la lista de
          grupos que pueden ser seleccionados. Una vez seleccionado el grupo 
          deseado,en la celda inmediatamente inferior es necesario indicar
          la cantidad de este grupo presente en la molécula. 
          Cabe destacar cada componente puede estar formado por un máximo de 
          10 grupos diferentes. 
        </p>  
        <p>
          Para guardar y continuar, presionar en el botón que se encuentra
          inmediatamente debajo de la tabla.
        </p>
             
        <h2>Temperatura, presión y composición del sistema</h2>
        Luego de establecer la cantindad de cálculos Flash para realizar, tiene
        que indicarse la temperatura (K), presión (atm) y composición del 
        sistema.

        <!--

        <h2>Tabla de parámetros </h2>
        <p>         
          Para cargar y ver los valores de los parámetros de los grupos 
          elegidos, hacer click en el botón “2-Parameters”. (Nota: presionar la 
          tecla “Enter” para cerrar la consola emergente)
           
          Las primeras dos filas de la tabla contienen los valores de los 
          parámetros moleculares r y q, respectivamente. Las siguientes filas 
          muestran la matriz de parámetros de interacción para los grupos 
          elegidos. Las últimas dos filas indican la composición grupal de 
          cada molécula. (Nota: si se desea, pueden modificarse los valores tanto de los parámetros moleculares como los de interacción)
          Condiciones del sistema
          
          
           
          
          Luego de haber cargado esta información, hacer click en el botón “3- Run Flash”
           
          Esta acción ejecutará el programa “flash.exe”. La información que devuelva el programa se mostrará en una tabla a la derecha de la de las condiciones del flash
           
          
          </p>
          -->
    </body>